<section class="mechanic-details">
  <p>Mechanic: <%= @mechanic.name %></p>
  <p>Years of Experience: <%= @mechanic.experience %></p>
</section>
<section class="mechanic-rides">
  <p>Current rides they’re working on:</p>
  <ul>
      <% @mechanic.rides.each do |ride| %>
        <li><%= ride.name %></li>
      <% end %>
  </ul>
</section>
<section class="add-ride-form">
  <%= form_tag "/mechanics/#{@mechanic.id}" do %>
    <%= label_tag :ride_id %>
    <%= text_field_tag :ride_id %>
    <%= submit_tag 'Assign Ride' %>
  <% end %>
</section>
